<div id="main_drawing_container" phx-hook="Drawing">
  Tool:
  <select id="tool">
    <option value="brush">Brush</option>
    <option value="eraser">Eraser</option>
  </select>
  <div id="container"></div>
</div>
